
body {
    background-color: #ADD8E6;
}
main{
    width: 60%;
    margin: auto;
    align-items: center;
}
footer{
    width: 60%;
    margin: auto;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #00008b;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    max-width: 70%;
    list-style-type:none;
}

nav a {
    font-size: 3vw;
    color: #ffffff;
    text-decoration: none;
}



h1 {
    color: #000000;
    text-align: center;
}

h2 {
    text-align: center;
}

article {
    width: 60%;
    margin: auto;
}

table, th, td {
    border: 1px solid #000;
    width: 80%;
    margin: 2% auto auto;
}

img {
    width: 100%;
    height: auto;
    margin: auto;
}

#form {
    width: 50%;
    background-color:  #00008b;
    padding: 1%;
    border: 5px solid #000;
    border-radius: 5%;
    margin: 2% 25% 5%;

}

#noform{
    width: 50%;
    margin: 2% 25% 5%;
}

input[type=text],input[type=tel],input[type=email] {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

input[type=submit] {
    width: 33%;
    margin-left: 33%;
    margin-right: 33%;
}

#button{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

label{
    margin-left: 10%;
    font-size: 1.5vw;
    color: #ffffff;
}

@media (max-width: 540px) {
    form {
        width: 80%;
        background-color:  #00008b;
        padding: 1%;
        border: 5px solid #fff;
        border-radius: 5%;
        margin-bottom: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
}